<% @users.each do |user| %>
<div class="box buff-bottom">
  <span class="pull-left buff-right"><%= link_to gravatar_for(user, :size => 50), user %></span> 
  <div>
    <h3><%= user.username %></h3>
    <% if user.fname and user.lname == '' %>
      <div>Cowardly Bastard</div>
    <% else %>
      <div><%= user.fname %>  <%= user.lname %></div>
    <% end %>
  </div>
      <span class="pull-right post-follow">
      <% unless current_user?(fuser) %>
        <div id="follow_form">
          <% if current_user.following? user %>
            <%= form_for current_user.relationships.find_by_followed_id(user),
                         :html => { :method => :delete }, 
                         :remote => true do |f| %>
              <div class="buff-left"><%= f.submit "Unfollow" %></div>
            <% end %>
          <% else %>
            <%= form_for current_user.relationships.build(:followed_id => user.id), 
              :remote => true do |f| %>
              <div><%= f.hidden_field :followed_id %></div>
              <div class="buff-left"><%= f.submit "Follow" %></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </span>
</div>
<% end %>