<!DOCTYPE html>
<html>
  <head>
    <title>tatzoo</title>
    <%= render 'shared/meta' %>
    <%= render 'shared/stylesheets' %>
    <%= render 'shared/javascripts' %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= render 'shared/header' %>
        <div class="flash_msg">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </header>

      <section>
        <%= yield %>
      </section>
      
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>    

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
