<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>tatzoo</title>
    <%= render 'shared/meta' %>
    <%= render 'shared/stylesheets' %>
    <%= render 'shared/javascripts' %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div class="container"><%= yield %></div>      
    <%= render 'shared/footer' %>
  </body>
</html>